# Options +FollowSymLinks
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.+)$ /index.php?%{QUERY_STRING}

#Php-auth in fcgid!!!
RewriteCond %{HTTP:Authorization} (.*)
RewriteRule . - [env=HTTP_AUTHORIZATION:%1]

php_value upload_max_filesize 10M
php_value max_execution_time 600
php_value memory_limit 256M 

php_value set_time_limit 0
php_value post_max_size 50M

php_value error_reporting 7
php_flag display_errors On